<a href="https://colab.research.google.com/github/ukeshbhaal/Guvi--Task-7-ML/blob/main/Copy_of_Decision_Trees_Assignment15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Social_Network_Ads.csv

**Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

**Importing the dataset**

In [ ]:
data=pd.read_csv("/content/Social_Network_Ads.csv")

In [ ]:
#Encoding - Gender
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols = ['Gender']
# We can also Encode labels of multiple columns at once like - cols=['Gender','etc'] like that- but here
data[cols] = data[cols].apply(le.fit_transform)
data=data.drop(['User ID'], axis=1)
data

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

**Splitting the dataset into the Training set and Test set**

In [ ]:
x = data[["Gender", "Age","EstimatedSalary"]].values
y = data['Purchased'].values
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 4)

**Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
pipeline = Pipeline([   ('std_scalar', StandardScaler())])
x_train = pipeline.fit_transform(x_train)
x_test = pipeline.fit_transform(x_test)
print("\n X_train\n",x_train,"\n X_test\n",x_test)
print("\n Y_train\n",y_train,"\n Y_test\n",y_test)

**Fitting Decision Tree Classification to the Training set**

In [ ]:
dtree = DecisionTreeClassifier()
dtree = dtree.fit(x_train, y_train)
tree.plot_tree(dtree, feature_names=x)

**Predicting the Test set results**

In [ ]:
print(dtree.predict([[1, 51,  23000]]))

[1]

In [ ]:
y_pred=dtree.predict(x_test)

In [ ]:
y_pred = dtree.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*100)

Accuracy: 90.0

**Making the Confusion Matrix**

In [ ]:
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      0.89      0.93        70
           1       0.78      0.93      0.85        30

    accuracy                           0.90       100
   macro avg       0.87      0.91      0.89       100
weighted avg       0.91      0.90      0.90       100

[[62  8]
 [ 2 28]]

**Visualising the Training set results**

In [ ]:
"""!pip install six"""

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (1.15.0)

In [ ]:
from sklearn.tree import export_graphviz
import pydotplus
export_graphviz(dtree, out_file='reg_tree.dot')

**Visualising the Test set results**

In [ ]:
#All the result is saved as a RegTree PNG file